NODE_ENV=production

HOST_API=http://localhost:4000
HOST_WEB=http://localhost:3000
COOKIE_DOMAIN=localhost
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
CORS_CREDENTIALS=true

DB_TYPE=postgres
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=postgres
DB_TIMEZONE=+00:00
DB_CHARSET=utf8
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_SSL=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=dailydo-bucket
AWS_UPLOAD_PREFIX=uploads

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

SOCIAL_GOOGLE_CLIENT_ID=
SOCIAL_GOOGLE_CLIENT_SECRET=
SOCIAL_NAVER_CLIENT_ID=
SOCIAL_NAVER_CLIENT_SECRET=

SOCIAL_GOOGLE_REDIRECT_URI=https://dailydo.vercel.app/auth/callback/google
SOCIAL_NAVER_REDIRECT_URI=https://dailydo.vercel.app/auth/callback/naver

API_DOCS_AUTH_ID=
API_DOCS_AUTH_PASSWORD=

# Docker Compose (local dev)
DOCKERHUB_USERNAME=
IMAGE_TAG=

USER_API_PORT=
BATCH_PORT=

